/*
Colors:
Blue:        #69D2E7
Light Blue:  #A7DBDB
Neutral:     #E0E4CC
Orange:      #F38630
Dark Orange: #FA6900
*/

@font-face {
  font-family: brotherhood;
  src: url('../plugins/brotherhood-script/Brotherhood_Script.ttf');
}

h1 {
  font-family: brotherhood;
  font-size: 5em;
  text-align: center;
  margin-bottom: 5px;
}

hr.symbol {
  margin-top: 5px;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  width: 150px;
}

body {
  background-color: #E0E4CC;
  font-weight: 200;
}

nav * {
  color: #000 !important;
}

.navbar-brand {
  font-family: brotherhood;
  font-weight: normal;
}

header {
  background: url('../img/engagement5.jpg') no-repeat center center fixed;
  background-size: cover;
}

section {
  position: relative;
}

section > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 40px;
}

section.blue {
  background: url('../plugins/contemporary_china_2/contemporary_china_2.png') repeat fixed;
}

section.blue > .overlay {
  background: rgba(167,219,219,0.6);
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;

  background-color: #FA6900; /* #F38630 */
    
  border-style: none;
  border-bottom-style: solid;
  border-color: #888;
}

.navbar.top {
  background: rgba(0, 0, 0, 0);
}

.carousel {
    width: 100%;
}

.carousel-control {
    margin-top: 20px;
}

.carousel-inner .item {
  width: 100%;
  height: 400px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

