/*
Colors:
Blue:        #69D2E7
Light Blue:  #A7DBDB
Neutral:     #E0E4CC
Orange:      #F38630
Dark Orange: #FA6900
*/

/* Colors based on dresses:
Dark Purple:  71,41,69
Violet: 85,51,102
Dark Blue: 44,29,140
Teal:  36,113,140
Turquoise: 105,209,204
*/

@font-face {
  font-family: brotherhood;
  src: url('../plugins/brotherhood-script/Brotherhood_Script.ttf');
}

.center {
 text-align: center;
}

.details-icon {
  font-size: 5em;
  display: block;
  text-align: center;
  color: rgb(85,51,102);
}

h1,h2,h3,h4,h5,h6 {
  font-family: brotherhood;
  text-align: center;
  margin-bottom: 5px;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2.5em;
}

h5 {
  font-size: 2em;
}

h6 {
  font-size: 1.5em;
}

hr.symbol {
  margin-top: 5px;
  margin-bottom: 40px;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  width: 150px;
}

body {
  background-color: #E0E4CC;
  font-weight: 200;
  font-size: 16px;
}

.navbar-brand {
  font-family: brotherhood;
  font-weight: normal;
  font-size: 2.5em;
}

header {
  background: url('../img/engagement5.jpg') no-repeat center center fixed;
  background-size: cover;
}

header > * {
  display: none;
}

.caption-lg {
  position: absolute;
  width: 200px;
  right: 100px;
}

.caption-md {
  position: absolute;
  right: 10px;
}

.caption-sm {
  padding-top: 40px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 900.0001px) {
  header > .caption-lg {
    display: inherit;
  }
}

@media screen and (max-width: 630px) {
  header > .caption-sm {
    display: inherit;
  }
}

@media screen and (max-width: 900px) and (min-width: 630.0001px) {
  header > .caption-md {
    display: inherit
  }
}

section {
  position: relative;
}

section > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 40px;
  padding-bottom: 20px;
}

section.blue {
  background: url('../plugins/contemporary_china_2/contemporary_china_2.png') repeat fixed;
}

section.blue > .overlay {
  background: rgba(105,209,204,0.6);
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;

  background-color: rgb(71,41,69); /* #F38630 */
    
  border-style: none;
  border-bottom-style: solid;
  border-color: #333;
}

.navbar * {
  text-shadow: none !important;
}

.navbar.top {
  background: rgba(0, 0, 0, 0);
}

.carousel {
    width: 100%;
}

.carousel-control {
    margin-top: 20px;
}

.carousel-inner .item {
  width: 100%;
  height: 400px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

